
.DS_Store
assign-1/.idea/.name
assign-1/.idea/assign-1.iml
assign-1/.idea/codeStyles/Project.xml
assign-1/.idea/dictionaries/zacharyaries.xml
assign-1/.idea/misc.xml
assign-1/.idea/modules.xml
assign-1/.idea/workspace.xml
assign-2/.idea/.name
assign-2/.idea/assign-2.iml
assign-2/.idea/codeStyles/Project.xml
assign-2/.idea/dictionaries/zacharyaries.xml
assign-2/.idea/misc.xml
assign-2/.idea/modules.xml
assign-2/.idea/workspace.xml
assign-3/.idea/.name
assign-3/.idea/assign-3.iml
assign-3/.idea/codeStyles/Project.xml
assign-3/.idea/misc.xml
assign-3/.idea/modules.xml
assign-3/.idea/workspace.xml
